
.pagevideo {
  width: 100%;
  height: auto;
  
}













.navbackgroundcolor {
    background-color:#6C545C ;
    font-family: qt basker;
    font-size: 1.5em;
    margin: 0;
    
}

.light-brown {
    color:#6C545C ;
}

.dark-purple {
    color: #4D3645;
}

.namesize {
    font-size: 2.5em;
}

.herocolor {
    background-color: lightpink;
}

.white {
    color: white;
}

.lightpink {
    color: lightpink;
}

.black {
    color: black;
}

.letterstyle {
    font-family: qt basker;
}

.boutiquelogo {
    width: 52%;
    height: 10%;
}

.phonenumber {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.foots {
    background-color: #6C545C;
    text-align: end;
    
}

.footcolor {
    color:#E8C0AA ;
}

.light-gray {
    background-color: lightgrey;
}

.backgroundcolor {
    background-color: #E7CBCB;
}

.phonenumberblack {
    color: lightpink;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: qt basker;
}

.browndisplaywords {
		color: #6C545C;
		text-align: center;
		font-weight: bold;
		font-size: xx-large;
		font-family: qt basker;
}

.pinkdisplaywords {
	color: lightpink;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	font-family: qt basker;
}


.letterstylecontact {
	font-family: qt basker;
	font-size: larger;
}


.about {
	font-family: qt basker;
	font-size: x-large;
	color: #4D3645;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

.availablebackground {
	background-color: #E7CBCB;
}

.boldblack {
	color: black;
	font-weight: bolder;
}

.pastpups {
	font-family: qt basker;
	font-size: xx-large;
	font-weight: bold;
	color: #4D3645;
	text-align: center;
	background-color: #E7CBCB;
}

.backgroundbuttonpink {
	background-color: lightpink;
	color: #6C545C;
}

.backgroundbuttonbrown {
	background-color: #6C545C;
	color: lightpink;
}

/* header video */
header {
	position: relative;
	background-color: white;
	height: 65vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url() black no-repeat center center scroll;
	}
  
	
  }
  /*-------------------------------------------

  /* timer */
  .mytimer {
	color: #6C545C;
	text-align: center;
  }
  
.mytimerhome {
	color: #4D3645;
	text-align: center;
}







/* banner section styles */
.banner {
	text-align: center;
	background-color: #ffffff;
	margin: 0 auto;
}

.banner img {
	max-width: 100%;
	height: auto;
}
/* Contact form styles */
.contact-form {
	padding: 40px 0;
	margin: 0 10px;
}

.form-container {
	max-width: 40%;
	margin: 0 auto;
	padding: 20px;
	background-color: #419197;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-container label {
	display:block;
	font-weight: bold;
}
.form-container input, textarea{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	resize: vertical;
}
.submit-button {
	padding: 10px 20px;
	background-color: #0dac30;
	border: none;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

/* Contact info styles */
.contact-info {
	text-align: center;
	padding: 50px 0;
	background-color: #419197;
}

.contact-info h2 {
	margin-bottom: 20px;
}

/* Footer styles */

/* Hamburger styles */
.hamburger {
	display: none;
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
	cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
	.logo {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	#nav-menu {
		position: absolute;
		top: 4rem;
		left: 0;
		background-color: #333;
		width: 100%;
		display: none;
	}

	#nav-menu.active {
		display: block;
		flex-direction: row;
		padding: 1rem;
	}
}

	.banner-image {
  width: 57%;
  	}

li {
	list-style-position: inside;
	padding: 0;
	text-align: center;
	font-weight: bold;
	 }


   









	 





	 